.app-top-bar {
    height: 50px;
    display: flex;
    top: 0;
    right: 0;
    left: 0;
    background: white;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    >.ez-logo {
        display: inline-block;
        width: 200px;
        height: 50px;
        @keyframes text1 {
            0% {
                stroke-dashoffset: 0;
                stroke-dasharray: 60 180;
            }
            100% {
                stroke-dashoffset: 1000;
                stroke-dasharray: 60 180;
            }
        }
        @keyframes text2 {
            0% {
                stroke-dashoffset: 60;
                stroke-dasharray: 60 180;
            }
            100% {
                stroke-dashoffset: 1060;
                stroke-dasharray: 60 180;
            }
        }
        @keyframes text3 {
            0% {
                stroke-dashoffset: 120;
                stroke-dasharray: 60 180;
            }
            100% {
                stroke-dashoffset: 1120;
                stroke-dasharray: 60 180;
            }
        }
        @keyframes text4 {
            0% {
                stroke-dashoffset: 180;
                stroke-dasharray: 60 180;
            }
            100% {
                stroke-dashoffset: 1180;
                stroke-dasharray: 60 180;
            }
        }
        .text {
            fill: none;
            stroke-width: 2;
            stroke-dasharray: 0 240;
            stroke-dashoffset: 0;
        }
        .text:nth-child(4n + 1) {
            stroke: rgb(39, 135, 238);
            animation: text1 4s ease-in-out infinite;
        }
        .text:nth-child(4n + 2) {
            stroke: rgb(47, 169, 92);
            animation: text2 4s ease-in-out infinite;
        }
        .text:nth-child(4n + 3) {
            stroke: rgb(85, 56, 249);
            animation: text3 4s ease-in-out infinite;
        }
        .text:nth-child(4n + 4) {
            stroke: rgb(235, 61, 50);
            animation: text4 4s ease-in-out infinite;
        }
    }
    .main-nav {
        font-size: 18px;
        float: left;
        height: 50px;
        padding: 12px 15px;
        a {
            padding-left: 15px;
            padding-right: 15px;
            font-weight: bold;
        }
    }
    .tabs {
        height: 50px;
        vertical-align: center;
    }
}