// custom variables
$nprogress-zindex: 3100;
$toastr-zindex: 9999;

// navigation
$navigation-zindex: 1001;

$index-z1: 1; //z-index值， 多用于页面底部
$index-z2: 100;
$index-z3: 101;
$index-body: 99;

.full-screen {
  width: 100%;
  height: 100%;
  position: absolute;
}



.bg-aboutme {
  background: url('../imgs/about-me.jpg') no-repeat;

}

.hidden-xs {
  @media screen and (max-width:768px) {
    display: none;
  }
}
