$icomoon-font-family: "zdao-m" !default;
$icomoon-font-path: "fonts" !default;

$icon-headbar_more: "\e900";
$icon-headbar_more_backhome: "\e901";
$icon-headbar_more_feedback: "\e902";
$icon-headbar_more_play: "\e903";
$icon-headbar_more_refresh: "\e904";
$icon-headbar_more_wenhao: "\e905";
$icon-headbar_back: "\e906";

