.margin-l-5px {
  margin-left: 5px;
}

em {
  color: #e40914;
  font-weight: 600;
  font-style: normal;
}

.game {
  text-align: center;

  .errmess {
    font-weight: 600;
    color: #E68442;
    cursor: pointer;
  }

  .biaozhu {
    .biaozhu-title {
      width: 25px;
      height: 25px;
      border: 1px solid #eeeeee;

      display: inline-block;

      &.issafe {
        background: #3431d698;
      }

      &.isboom {
        background: url(./image/boom.png) no-repeat center 50% !important;
        background-size: 25px 25px !important;
      }

      &.ishunter {
        background: url(./image/hunter.png) no-repeat center 50% !important;
        background-size: 25px 25px !important;
      }

      &.iscat {
        background: url(./image/cat.png) no-repeat center 50% !important;
        background-size: 25px 25px !important;
      }

      &.isopen {
        background: #ffffff;

      }

      &.isunknown {
        background: #333333;
      }
    }

    .biaozhu-desc {
      font-size: 14px;
      color: rgb(126, 86, 13);
      position: relative;
      top: -5px;

    }
  }

  .tip {
    text-align: center;

    .tip-title {
      width: 25px;
      height: 25px;
      border: 1px solid #eeeeee;

      display: inline-block;

      &.isboom {
        background: url(./image/boom.png) no-repeat center 50% !important;
        background-size: 25px 25px !important;
      }
    }

    .tip-desc {
      font-size: 14px;
      color: rgb(126, 86, 13);
      position: relative;
      top: -5px;
    }
  }

  .rule-title {
    border: 2px solid rgb(17, 160, 204);
    padding: 3px;
    color: #333333;
    font-weight: 600;
    font-size: 1.2em;
  }

  table {
    width: 100%;
    height: auto;

    td {
      width: 10px;
      height: 25px;
      border: 1px solid #eeeeee;
      position: relative;

      span {
        display: inline-block;
        width: 100%;
        height: 100%;
        background: #333333;
      }

      .isopen {
        background: #ffffff !important;
      }

      .ishunter {
        background: url(./image/hunter.png) no-repeat center 50% !important;

        background-size: contain !important;
      }

      .isboom {
        background: url(./image/boom.png) no-repeat center 50% !important;
        background-size: contain !important;
      }

      .iscat {
        background: url(./image/cat.png) no-repeat center 50% !important;
        background-size: contain !important;
      }

      .issafe {
        background: #3431d698;
      }
    }
  }

  .controller {
    margin-top: 30px;
    text-align: center;
    position: relative;

    .shang {
      position: relative;
      left: 65px;
      bottom: 5px;
    }

    span {
      display: inline-block;
      font-size: 1.2em;
      width: 30px;
      height: 30px;
      border: 1px solid #333333;
    }

    .col-12 {
      span {
        display: inline-block;
      }
    }
  }
}
