// Clearfix
// Source: http://nicolasgallagher.com/micro-clearfix-hack/
@mixin clearfix {
  &::after,
  &::before {
    content: ' '; // 1
    display: table; // 2
  }

  &::after {
    clear: both;
  }
}
